# Contents

- import ords_prods

- finding most loyal customers

- ascerning whether more money in spent in diff loyalty groups (Answer = no)

- adding Low spender / High spender flags

- adding customer ordering frequency flags

- exporting df as pkl with new flags

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r"C:\Users\ryani\Desktop\Data Analyst COURSE\Data Immersion\06-2025 E4 INSTACART Py"

In [3]:
df_ords_prods_merge = pd.read_pickle (os.path.join (path, '02 Data', 'Prepared Data', 'ords_prods_merge_req.pkl'))

In [4]:
#Make a new df with 1 million rows
df = df_ords_prods_merge[:1000000]
df

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,merge_indicator,price-range-loc,Busiest day,Busiest days,busiest_period_of_day.
0,2539329.0,1.0,1,2,8,NaN,True,196.0,1,0,both,Soda,77,7,9.0,both,Mid-range product,Busiest days,Regularly busy,Average Orders
1,2539329.0,1.0,1,2,8,NaN,True,14084.0,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Busiest days,Regularly busy,Average Orders
2,2539329.0,1.0,1,2,8,NaN,True,12427.0,3,0,both,Original Beef Jerky,23,19,4.4,both,Low-range product,Busiest days,Regularly busy,Average Orders
3,2539329.0,1.0,1,2,8,NaN,True,26088.0,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Busiest days,Regularly busy,Average Orders
4,2539329.0,1.0,1,2,8,NaN,True,26405.0,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Busiest days,Regularly busy,Average Orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2789027.0,6474.0,2,3,8,30.0,False,3020.0,7,0,both,Broccoli & Apple Stage 2 Baby Food,92,18,12.9,both,Mid-range product,Busiest days,Slowest days,Average Orders
999996,2789027.0,6474.0,2,3,8,30.0,False,35823.0,8,0,both,Complete Foaming Antibacterial Hand Soap Varie...,127,11,7.3,both,Mid-range product,Busiest days,Slowest days,Average Orders
999997,2789027.0,6474.0,2,3,8,30.0,False,27681.0,9,0,both,Lower Sugar Instant Oatmeal Variety,130,14,3.5,both,Low-range product,Busiest days,Slowest days,Average Orders
999998,2789027.0,6474.0,2,3,8,30.0,False,2091.0,10,0,both,Almond Nut & Rice Cracker Snacks,78,19,6.8,both,Mid-range product,Busiest days,Slowest days,Average Orders
999999,2789027.0,6474.0,2,3,8,30.0,False,44199.0,11,0,both,Toll House Mini Chocolate Chip Cookie Dough,105,13,2.9,both,Low-range product,Busiest days,Slowest days,Average Orders

In [5]:
df.shape

(1000000, 20)

In [6]:
#Grouping Data with pandas
df.groupby('product_name')

To recap, you should always use the groupby() function as part of a series of steps, namely, the following:

Split the data into groups based on some criteria.

Apply a function to each group separately.

Combine the results into a dataframe or alternative data structure or create a new column in the current dataframe.

Performing a Single Aggregation


Split the data into groups based on “department_id.”
Apply the agg() function to each group to obtain the mean values for the “order_number” column.

In [7]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                14.800024
2                17.091743
3                17.913544
4                17.893092
5                15.214270
6                15.382135
7                17.694027
8                16.458105
9                15.957363
10               20.091818
11               16.482026
12               15.615061
13               16.484023
14               17.524632
15               15.691875
16               18.014071
17               16.150593
18               19.602850
19               17.631340
20               17.138607
21               21.956893

In [8]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                14.800024   1  99
2                17.091743   1  98
3                17.913544   1  99
4                17.893092   1  99
5                15.214270   1  99
6                15.382135   1  99
7                17.694027   1  99
8                16.458105   1  91
9                15.957363   1  99
10               20.091818   1  99
11               16.482026   1  99
12               15.615061   1  99
13               16.484023   1  99
14               17.524632   1  99
15               15.691875   1  99
16               18.014071   1  99
17               16.150593   1  99
18               19.602850   1  99
19               17.631340   1  99
20               17.138607   1  99
21               21.956893   1  97

In [9]:
# Transforming data so that we can find the most loyal customers. This uses numpy.

df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)
df_ords_prods_merge.head(10)

C:\Users\ryani\AppData\Local\Temp\ipykernel_21148\2010738211.py:3: FutureWarning: The provided callable <function max at 0x000001CA994E2B60> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,product_name,aisle_id,department_id,prices,merge_indicator,price-range-loc,Busiest day,Busiest days,busiest_period_of_day.,max_order
0,2539329.0,1.0,1,2,8,NaN,True,196.0,1,0,...,Soda,77,7,9.0,both,Mid-range product,Busiest days,Regularly busy,Average Orders,10
1,2539329.0,1.0,1,2,8,NaN,True,14084.0,2,0,...,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Busiest days,Regularly busy,Average Orders,10
2,2539329.0,1.0,1,2,8,NaN,True,12427.0,3,0,...,Original Beef Jerky,23,19,4.4,both,Low-range product,Busiest days,Regularly busy,Average Orders,10
3,2539329.0,1.0,1,2,8,NaN,True,26088.0,4,0,...,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Busiest days,Regularly busy,Average Orders,10
4,2539329.0,1.0,1,2,8,NaN,True,26405.0,5,0,...,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Busiest days,Regularly busy,Average Orders,10
5,2398795.0,1.0,2,3,7,15.0,False,196.0,1,1,...,Soda,77,7,9.0,both,Mid-range product,Busiest days,Slowest days,Average Orders,10
6,2398795.0,1.0,2,3,7,15.0,False,10258.0,2,0,...,Pistachios,117,19,3.0,both,Low-range product,Busiest days,Slowest days,Average Orders,10
7,2398795.0,1.0,2,3,7,15.0,False,12427.0,3,1,...,Original Beef Jerky,23,19,4.4,both,Low-range product,Busiest days,Slowest days,Average Orders,10
8,2398795.0,1.0,2,3,7,15.0,False,13176.0,4,0,...,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Busiest days,Slowest days,Average Orders,10
9,2398795.0,1.0,2,3,7,15.0,False,26088.0,5,1,...,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Busiest days,Slowest days,Average Orders,10

In [10]:
pd.options.display.max_rows = None

In [11]:
#Remove the default 10-rows-only table output with above code
df_ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,product_name,aisle_id,department_id,prices,merge_indicator,price-range-loc,Busiest day,Busiest days,busiest_period_of_day.,max_order
0,2539329.0,1.0,1,2,8,NaN,True,196.0,1,0,...,Soda,77,7,9.0,both,Mid-range product,Busiest days,Regularly busy,Average Orders,10
1,2539329.0,1.0,1,2,8,NaN,True,14084.0,2,0,...,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Busiest days,Regularly busy,Average Orders,10
2,2539329.0,1.0,1,2,8,NaN,True,12427.0,3,0,...,Original Beef Jerky,23,19,4.4,both,Low-range product,Busiest days,Regularly busy,Average Orders,10
3,2539329.0,1.0,1,2,8,NaN,True,26088.0,4,0,...,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Busiest days,Regularly busy,Average Orders,10
4,2539329.0,1.0,1,2,8,NaN,True,26405.0,5,0,...,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Busiest days,Regularly busy,Average Orders,10
5,2398795.0,1.0,2,3,7,15.0,False,196.0,1,1,...,Soda,77,7,9.0,both,Mid-range product,Busiest days,Slowest days,Average Orders,10
6,2398795.0,1.0,2,3,7,15.0,False,10258.0,2,0,...,Pistachios,117,19,3.0,both,Low-range product,Busiest days,Slowest days,Average Orders,10
7,2398795.0,1.0,2,3,7,15.0,False,12427.0,3,1,...,Original Beef Jerky,23,19,4.4,both,Low-range product,Busiest days,Slowest days,Average Orders,10
8,2398795.0,1.0,2,3,7,15.0,False,13176.0,4,0,...,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Busiest days,Slowest days,Average Orders,10
9,2398795.0,1.0,2,3,7,15.0,False,26088.0,5,1,...,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Busiest days,Slowest days,Average Orders,10
10,2398795.0,1.0,2,3,7,15.0,False,13032.0,6,0,...,Cinnamon Toast Crunch,121,14,4.0,both,Low-range product,Busiest days,Slowest days,Average Orders,10
11,473747.0,1.0,3,3,12,21.0,False,196.0,1,1,...,Soda,77,7,9.0,both,Mid-range product,Busiest days,Slowest days,Most Orders,10
12,473747.0,1.0,3,3,12,21.0,False,12427.0,2,1,...,Original Beef Jerky,23,19,4.4,both,Low-range product,Busiest days,Slowest days,Most Orders,10
13,473747.0,1.0,3,3,12,21.0,False,10258.0,3,1,...,Pistachios,117,19,3.0,both,Low-range product,Busiest days,Slowest days,Most Orders,10
14,473747.0,1.0,3,3,12,21.0,False,25133.0,4,0,...,Organic String Cheese,21,16,8.6,both,Mid-range product,Busiest days,Slowest days,Most Orders,10
15,473747.0,1.0,3,3,12,21.0,False,30450.0,5,0,...,Creamy Almond Butter,88,13,3.2,both,Low-range product,Busiest days,Slowest days,Most Orders,10
16,2254736.0,1.0,4,4,7,29.0,False,196.0,1,1,...,Soda,77,7,9.0,both,Mid-range product,Busiest days,Slowest days,Average Orders,10
17,2254736.0,1.0,4,4,7,29.0,False,12427.0,2,1,...,Original Beef Jerky,23,19,4.4,both,Low-range product,Busiest days,Slowest days,Average Orders,10
18,2254736.0,1.0,4,4,7,29.0,False,10258.0,3,1,...,Pistachios,117,19,3.0,both,Low-range product,Busiest days,Slowest days,Average Orders,10
19,2254736.0,1.0,4,4,7,29.0,False,25133.0,4,1,...,Organic String Cheese,21,16,8.6,both,Mid-range product,Busiest days,Slowest days,Average Orders,10
20,2254736.0,1.0,4,4,7,29.0,False,26405.0,5,1,...,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Busiest days,Slowest days,Average Orders,10
21,431534.0,1.0,5,4,15,28.0,False,196.0,1,1,...,Soda,77,7,9.0,both,Mid-range product,Busiest days,Slowest days,Most Orders,10
22,431534.0,1.0,5,4,15,28.0,False,12427.0,2,1,...,Original Beef Jerky,23,19,4.4,both,Low-range product,Busiest days,Slowest days,Most Orders,10
23,431534.0,1.0,5,4,15,28.0,False,10258.0,3,1,...,Pistachios,117,19,3.0,both,Low-range product,Busiest days,Slowest days,Most Orders,10
24,431534.0,1.0,5,4,15,28.0,False,25133.0,4,1,...,Organic String Cheese,21,16,8.6,both,Mid-range product,Busiest days,Slowest days,Most Orders,10
25,431534.0,1.0,5,4,15,28.0,False,10326.0,5,0,...,Organic Fuji Apples,24,4,2.7,both,Low-range product,Busiest days,Slowest days,Most Orders,10
26,431534.0,1.0,5,4,15,28.0,False,17122.0,6,0,...,Honeycrisp Apples,24,4,14.0,both,Mid-range product,Busiest days,Slowest days,Most Orders,10
27,431534.0,1.0,5,4,15,28.0,False,41787.0,7,0,...,Bartlett Pears,24,4,5.0,both,Low-range product,Busiest days,Slowest days,Most Orders,10
28,431534.0,1.0,5,4,15,28.0,False,13176.0,8,1,...,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Busiest days,Slowest days,Most Orders,10
29,3367565.0,1.0,6,2,7,19.0,False,196.0,1,1,...,Soda,77,7,9.0,both,Mid-range product,Busiest days,Regularly busy,Average Orders,10
30,3367565.0,1.0,6,2,7,19.0,False,12427.0,2,1,...,Original Beef Jerky,23,19,4.4,both,Low-range product,Busiest days,Regularly busy,Average Orders,10
31,3367565.0,1.0,6,2,7,19.0,False,10258.0,3,1,...,Pistachios,117,19,3.0,both,Low-range product,Busiest days,Regularly busy,Average Orders,10
32,3367565.0,1.0,6,2,7,19.0,False,25133.0,4,1,...,Organic String Cheese,21,16,8.6,both,Mid-range product,Busiest days,Regularly busy,Average Orders,10
33,550135.0,1.0,7,1,9,20.0,False,196.0,1,1,...,Soda,77,7,9.0,both,Mid-range product,Busiest days,Busiest days,Most Orders,10
34,550135.0,1.0,7,1,9,20.0,False,10258.0,2,1,...,Pistachios,117,19,3.0,both,Low-range product,Busiest days,Busiest days,Most Orders,10
35,550135.0,1.0,7,1,9,20.0,False,12427.0,3,1,...,Original Beef Jerky,23,19,4.4,both,Low-range product,Busiest days,Busiest days,Most Orders,10
36,550135.0,1.0,7,1,9,20.0,False,25133.0,4,1,...,Organic String Cheese,21,16,8.6,both,Mid-range product,Busiest days,Busiest days,Most Orders,10
37,550135.0,1.0,7,1,9,20.0,False,13032.0,5,1,...,Cinnamon Toast Crunch,121,14,4.0,both,Low-range product,Busiest days,Busiest days,Most Orders,10
38,3108588.0,1.0,8,1,14,14.0,False,12427.0,1,1,...,Original Beef Jerky,23,19,4.4,both,Low-range product,Busiest days,Busiest days,Most Orders,10
39,3108588.0,1.0,8,1,14,14.0,False,196.0,2,1,...,Soda,77,7,9.0,both,Mid-range product,Busiest days,Busiest days,Most Orders,10
40,3108588.0,1.0,8,1,14,14.0,False,10258.0,3,1,...,Pistachios,117,19,3.0,both,Low-range product,Busiest days,Busiest days,Most Orders,10
41,3108588.0,1.0,8,1,14,14.0,False,25133.0,4,1,...,Organic String Cheese,21,16,8.6,both,Mid-range product,Busiest days,Busiest days,Most Orders,10
42,3108588.0,1.0,8,1,14,14.0,False,46149.0,5,0,...,Zero Calorie Cola,77,7,13.4,both,Mid-range product,Busiest days,Busiest days,Most Orders,10
43,3108588.0,1.0,8,1,14,14.0,False,49235.0,6,0,...,Organic Half & Half,53,16,1.8,both,Low-range product,Busiest days,Busiest days,Most Orders,10
44,2295261.0,1.0,9,1,16,0.0,False,49235.0,1,1,...,Organic Half & Half,53,16,1.8,both,Low-range product,Busiest days,Busiest days,Most Orders,10
45,2295261.0,1.0,9,1,16,0.0,False,46149.0,2,1,...,Zero Calorie Cola,77,7,13.4,both,Mid-range product,Busiest days,Busiest days,Most Orders,10
46,2295261.0,1.0,9,1,16,0.0,False,25133.0,3,1,...,Organic String Cheese,21,16,8.6,both,Mid-range product,Busiest days,Busiest days,Most Orders,10
47,2295261.0,1.0,9,1,16,0.0,False,196.0,4,1,...,Soda,77,7,9.0,both,Mid-range product,Busiest days,Busiest days,Most Orders,10
48,2295261.0,1.0,9,1,16,0.0,False,10258.0,5,1,...,Pistachios,117,19,3.0,both,Low-range product,Busiest days,Busiest days,Most Orders,10
49,2295261.0,1.0,9,1,16,0.0,False,12427.0,6,1,...,Original Beef Jerky,23,19,4.4,both,Low-range product,Busiest days,Busiest days,Most Orders,10
50,2550362.0,1.0,10,4,8,30.0,False,196.0,1,1,...,Soda,77,7,9.0,both,Mid-range product,Busiest days,Slowest days,Average Orders,10
51,2550362.0,1.0,10,4,8,30.0,False,46149.0,2,1,...,Zero Calorie Cola,77,7,13.4,both,Mid-range product,Busiest days,Slowest days,Average Orders,10
52,2550362.0,1.0,10,4,8,30.0,False,39657.0,3,0,...,Milk Chocolate Almonds,45,19,6.8,both,Mid-range product,Busiest days,Slowest days,Average Orders,10
53,2550362.0,1.0,10,4,8,30.0,False,38928.0,4,0,...,0% Greek Strained Yogurt,120,16,12.6,both,Mid-range product,Busiest days,Slowest days,Average Orders,10
54,2550362.0,1.0,10,4,8,30.0,False,25133.0,5,1,...,Organic String Cheese,21,16,8.6,both,Mid-range product,Busiest days,Slowest days,Average Orders,10
55,2550362.0,1.0,10,4,8,30.0,False,10258.0,6,1,...,Pistachios,117,19,3.0,both,Low-range product,Busiest days,Slowest days,Average Orders,10
56,2550362.0,1.0,10,4,8,30.0,False,35951.0,7,0,...,Organic Unsweetened Almond Milk,91,16,1.3,both,Low-range product,Busiest days,Slowest days,Average Orders,10
57,2550362.0,1.0,10,4,8,30.0,False,13032.0,8,1,...,Cinnamon Toast Crunch,121,14,4.0,both,Low-range product,Busiest days,Slowest days,Average Orders,10
58,2550362.0,1.0,10,4,8,30.0,False,12427.0,9,1,...,Original Beef Jerky,23,19,4.4,both,Low-range product,Busiest days,Slowest days,Average Orders,10
59,2168274.0,2.0,1,2,11,NaN,True,32792.0,1,0,...,Chipotle Beef & Pork Realstick,23,19,5.2,both,Mid-range product,Busiest days,Regularly busy,Most Orders,14
60,2168274.0,2.0,1,2,11,NaN,True,47766.0,2,0,...,Organic Avocado,24,4,6.3,both,Mid-range product,Busiest days,Regularly busy,Most Orders,14
61,2168274.0,2.0,1,2,11,NaN,True,20574.0,3,0,...,Roasted Turkey,96,20,2.3,both,Low-range product,Busiest days,Regularly busy,Most Orders,14
62,2168274.0,2.0,1,2,11,NaN,True,12000.0,4,0,...,Baked Organic Sea Salt Crunchy Pea Snack,72,13,10.9,both,Mid-range product,Busiest days,Regularly busy,Most Orders,14
63,2168274.0,2.0,1,2,11,NaN,True,48110.0,5,0,...,Thin Stackers Brown Rice Lightly Salted,78,19,2.7,both,Low-range product,Busiest days,Regularly busy,Most Orders,14
64,2168274.0,2.0,1,2,11,NaN,True,22474.0,6,0,...,Cheddar Bunnies Snack Crackers,78,19,4.1,both,Low-range product,Busiest days,Regularly busy,Most Orders,14
65,2168274.0,2.0,1,2,11,NaN,True,16589.0,7,0,...,Plantain Chips,107,19,5.0,both,Low-range product,Busiest days,Regularly busy,Most Orders,14
66,2168274.0,2.0,1,2,11,NaN,True,35917.0,8,0,...,Organic Just Concord Grape Juice,98,7,9.4,both,Mid-range product,Busiest days,Regularly busy,Most Orders,14
67,2168274.0,2.0,1,2,11,NaN,True,27344.0,9,0,...,Uncured Genoa Salami,96,20,14.8,both,Mid-range product,Busiest days,Regularly busy,Most Orders,14
68,2168274.0,2.0,1,2,11,NaN,True,30489.0,10,0,...,Original Hummus,67,20,7.5,both,Mid-range product,Busiest days,Regularly busy,Most Orders,14
69,2168274.0,2.0,1,2,11,NaN,True,27966.0,11,0,...,Organic Raspberries,123,4,4.4,both,Low-range product,Busiest days,Regularly busy,Most Orders,14
70,2168274.0,2.0,1,2,11,NaN,True,13176.0,12,0,...,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Busiest days,Regularly busy,Most Orders,14
71,2168274.0,2.0,1,2,11,NaN,True,45066.0,13,0,...,Honeycrisp Apple,24,4,2.5,both,Low-range product,Busiest days,Regularly busy,Most Orders,14
72,1501582.0,2.0,2,5,10,10.0,False,16797.0,1,0,...,Strawberries,24,4,1.3,both,Low-range product,Busiest days,Regularly busy,Most Orders,14
73,1501582.0,2.0,2,5,10,10.0,False,47526.0,2,0,...,Goat Cheese Log,21,16,2.0,both,Low-range product,Busiest days,Regularly busy,Most Orders,14
74,1501582.0,2.0,2,5,10,10.0,False,8479.0,3,0,...,Original Black Box Tablewater Cracker,78,19,3.5,both,Low-range product,Busiest days,Regularly busy,Most Orders,14
75,1501582.0,2.0,2,5,10,10.0,False,47766.0,4,1,...,Organic Avocado,24,4,6.3,both,Mid-range product,Busiest days,Regularly busy,Most Orders,14
76,1501582.0,2.0,2,5,10,10.0,False,19051.0,5,0,...,"Pita Chips, Simply Naked, Party Size",107,19,3.9,both,Low-range product,Busiest days,Regularly busy,Most Orders,14
77,1501582.0,2.0,2,5,10,10.0,False,8138.0,6,0,...,Traditional Hummus,67,20,2.0,both,Low-range product,Busiest days,Regularly busy,Most Orders,14
78,1901567.0,2.0,3,1,10,3.0,False,47766.0,1,1,...,Organic Avocado,24,4,6.3,both,Mid-range product,Busiest days,Busiest days,Most Orders,14
79,1901567.0,2.0,3,1,10,3.0,False,32792.0,2,1,...,Chipotle Beef & Pork Realstick,23,19,5.2,both,Mid-range product,Busiest days,Busiest days,Most Orders,14
80,1901567.0,2.0,3,1,10,3.0,False,20574.0,3,1,...,Roasted Turkey,96,20,2.3,both,Low-range product,Busiest days,Busiest days,Most Orders,14
81,1901567.0,2.0,3,1,10,3.0,False,7781.0,4,0,...,Organic Sticks Low Moisture Part Skim Mozzarel...,21,16,6.6,both,Mid-range product,Busiest days,Busiest days,Most Orders,14
82,1901567.0,2.0,3,1,10,3.0,False,28874.0,5,0,...,Carrot Ginger Soup,1,20,6.2,both,Mid-range product,Busiest days,Busiest days,Most Orders,14
83,738281.0,2.0,4,2,10,8.0,False,49451.0,1,0,...,Artichoke Spinach Dip,67,20,7.1,both,Mid-range product,Busiest days,Regularly busy,Most Orders,14
84,738281.0,2.0,4,2,10,8.0,False,32792.0,2,1,...,Chipotle Beef & Pork Realstick,23,19,5.2,both,Mid-range product,Busiest days,Regularly busy,Most Orders,14
85,738281.0,2.0,4,2,10,8.0,False,32139.0,3,0,...,Hommus Classic Original,67,20,7.5,both,Mid-range product,Busiest days,Regularly busy,Most Orders,14
86,738281.0,2.0,4,2,10,8.0,False,34688.0,4,0,...,Good Belly Probiotics Juice Drink Blueberry Ac...,31,7,5.8,both,Mid-range product,Busiest days,Regularly busy,Most Orders,14
87,738281.0,2.0,4,2,10,8.0,False,36735.0,5,0,...,Organic Roasted Sliced Chicken Breast,96,20,8.9,both,Mid-range product,Busiest days,Regularly busy,Most Orders,14
88,738281.0,2.0,4,2,10,8.0,False,37646.0,6,0,...,Organic Gala Apples,24,4,9.1,both,Mid-range product,Busiest days,Regularly busy,Most Orders,14
89,738281.0,2.0,4,2,10,8.0,False,22829.0,7,0,...,Multigrain Flax Seeded Flatbread Crackers,78,19,5.5,both,Mid-range product,Busiest days,Regularly busy,Most Orders,14
90,738281.0,2.0,4,2,10,8.0,False,24852.0,8,0,...,Banana,24,4,12.3,both,Mid-range product,Busiest days,Regularly busy,Most Orders,14
91,738281.0,2.0,4,2,10,8.0,False,47209.0,9,0,...,Organic Hass Avocado,24,4,4.0,both,Low-range product,Busiest days,Regularly busy,Most Orders,14
92,738281.0,2.0,4,2,10,8.0,False,33276.0,10,0,...,Kalamata Olive Spread,67,20,10.8,both,Mid-range product,Busiest days,Regularly busy,Most Orders,14
93,738281.0,2.0,4,2,10,8.0,False,45613.0,11,0,...,Pad Thai,38,1,12.6,both,Mid-range product,Busiest days,Regularly busy,Most Orders,14
94,738281.0,2.0,4,2,10,8.0,False,9681.0,12,0,...,Chicken Tikka Masala with Cumin Infused Basmat...,38,1,2.0,both,Low-range product,Busiest days,Regularly busy,Most Orders,14
95,738281.0,2.0,4,2,10,8.0,False,21150.0,13,0,...,Fire Grilled Steak Bowl,38,1,5.9,both,Mid-range product,Busiest days,Regularly busy,Most Orders,14
96,1673511.0,2.0,5,3,11,8.0,False,47144.0,1,0,...,Unsweetened Original Almond Breeze Almond Milk,91,16,14.0,both,Mid-range product,Busiest days,Slowest days,Most Orders,14
97,1673511.0,2.0,5,3,11,8.0,False,5322.0,2,0,...,Gluten Free Dark Chocolate Chunk Chewy with a ...,3,19,2.9,both,Low-range product,Busiest days,Slowest days,Most Orders,14
98,1673511.0,2.0,5,3,11,8.0,False,17224.0,3,0,...,Oats & Honey Gluten Free Granola,3,19,1.6,both,Low-range product,Busiest days,Slowest days,Most Orders,14
99,1673511.0,2.0,5,3,11,8.0,False,38656.0,4,0,...,Gluten Free Peanut Butter Dark Chocolate Chewy...,3,19,3.4,both,Low-range product,Busiest days,Slowest days,Most Orders,14

In [12]:
#Now need to assign the loyalty flags to the df
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [13]:
#Now to count loyal customers
df_ords_prods_merge.value_counts('loyalty_flag')

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [14]:
df_ords_prods_merge ['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [15]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,merge_indicator,price-range-loc,Busiest day,Busiest days,busiest_period_of_day.,max_order,loyalty_flag
0,2539329.0,1.0,1,2,8,NaN,True,196.0,1,0,...,77,7,9.0,both,Mid-range product,Busiest days,Regularly busy,Average Orders,10,New customer
1,2539329.0,1.0,1,2,8,NaN,True,14084.0,2,0,...,91,16,12.5,both,Mid-range product,Busiest days,Regularly busy,Average Orders,10,New customer
2,2539329.0,1.0,1,2,8,NaN,True,12427.0,3,0,...,23,19,4.4,both,Low-range product,Busiest days,Regularly busy,Average Orders,10,New customer
3,2539329.0,1.0,1,2,8,NaN,True,26088.0,4,0,...,23,19,4.7,both,Low-range product,Busiest days,Regularly busy,Average Orders,10,New customer
4,2539329.0,1.0,1,2,8,NaN,True,26405.0,5,0,...,54,17,1.0,both,Low-range product,Busiest days,Regularly busy,Average Orders,10,New customer

In [16]:
#Only Head for specific columns
df_ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0       1.0      New customer             1
1       1.0      New customer             1
2       1.0      New customer             1
3       1.0      New customer             1
4       1.0      New customer             1
5       1.0      New customer             2
6       1.0      New customer             2
7       1.0      New customer             2
8       1.0      New customer             2
9       1.0      New customer             2
10      1.0      New customer             2
11      1.0      New customer             3
12      1.0      New customer             3
13      1.0      New customer             3
14      1.0      New customer             3
15      1.0      New customer             3
16      1.0      New customer             4
17      1.0      New customer             4
18      1.0      New customer             4
19      1.0      New customer             4
20      1.0      New customer             4
21      1.0      New customer             5
22      1.0      New customer             5
23      1.0      New customer             5
24      1.0      New customer             5
25      1.0      New customer             5
26      1.0      New customer             5
27      1.0      New customer             5
28      1.0      New customer             5
29      1.0      New customer             6
30      1.0      New customer             6
31      1.0      New customer             6
32      1.0      New customer             6
33      1.0      New customer             7
34      1.0      New customer             7
35      1.0      New customer             7
36      1.0      New customer             7
37      1.0      New customer             7
38      1.0      New customer             8
39      1.0      New customer             8
40      1.0      New customer             8
41      1.0      New customer             8
42      1.0      New customer             8
43      1.0      New customer             8
44      1.0      New customer             9
45      1.0      New customer             9
46      1.0      New customer             9
47      1.0      New customer             9
48      1.0      New customer             9
49      1.0      New customer             9
50      1.0      New customer            10
51      1.0      New customer            10
52      1.0      New customer            10
53      1.0      New customer            10
54      1.0      New customer            10
55      1.0      New customer            10
56      1.0      New customer            10
57      1.0      New customer            10
58      1.0      New customer            10
59      2.0  Regular customer             1

# Excercise 4.8..............

# In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [17]:
#Grouping Data with pandas
df_ords_prods_merge.groupby('product_name')
df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

They are entirely different. Some are slightly higher now and some are slightly lower. Seems to be a trend towards slightly higher on average.

# The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [18]:
#Grouping Data with pandas
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean']})

                    prices
                      mean
loyalty_flag
Loyal customer    7.772758
New customer      7.800029
Regular customer  7.797197

There is no real difference between the differently loyal customers, all are 7.8 mean price.

# The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
# If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
# If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [19]:
df_ords_prods_merge['mean_spent'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [20]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,department_id,prices,merge_indicator,price-range-loc,Busiest day,Busiest days,busiest_period_of_day.,max_order,loyalty_flag,mean_spent
0,2539329.0,1.0,1,2,8,NaN,True,196.0,1,0,...,7,9.0,both,Mid-range product,Busiest days,Regularly busy,Average Orders,10,New customer,6.367797
1,2539329.0,1.0,1,2,8,NaN,True,14084.0,2,0,...,16,12.5,both,Mid-range product,Busiest days,Regularly busy,Average Orders,10,New customer,6.367797
2,2539329.0,1.0,1,2,8,NaN,True,12427.0,3,0,...,19,4.4,both,Low-range product,Busiest days,Regularly busy,Average Orders,10,New customer,6.367797
3,2539329.0,1.0,1,2,8,NaN,True,26088.0,4,0,...,19,4.7,both,Low-range product,Busiest days,Regularly busy,Average Orders,10,New customer,6.367797
4,2539329.0,1.0,1,2,8,NaN,True,26405.0,5,0,...,17,1.0,both,Low-range product,Busiest days,Regularly busy,Average Orders,10,New customer,6.367797

In [21]:
df_ords_prods_merge.tail()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,department_id,prices,merge_indicator,price-range-loc,Busiest day,Busiest days,busiest_period_of_day.,max_order,loyalty_flag,mean_spent
32404854,2977660.0,206209.0,13,1,12,7.0,False,14197.0,5,1,...,9,5.6,both,Mid-range product,Busiest days,Busiest days,Most Orders,13,Regular customer,7.058915
32404855,2977660.0,206209.0,13,1,12,7.0,False,38730.0,6,0,...,19,5.9,both,Mid-range product,Busiest days,Busiest days,Most Orders,13,Regular customer,7.058915
32404856,2977660.0,206209.0,13,1,12,7.0,False,31477.0,7,0,...,19,4.2,both,Low-range product,Busiest days,Busiest days,Most Orders,13,Regular customer,7.058915
32404857,2977660.0,206209.0,13,1,12,7.0,False,6567.0,8,0,...,19,4.9,both,Low-range product,Busiest days,Busiest days,Most Orders,13,Regular customer,7.058915
32404858,2977660.0,206209.0,13,1,12,7.0,False,22920.0,9,0,...,19,1.7,both,Low-range product,Busiest days,Busiest days,Most Orders,13,Regular customer,7.058915

In [22]:
#Now need to assign flags to the high/low spenders
df_ords_prods_merge.loc[df_ords_prods_merge['mean_spent'] < 10, 'spender_flag'] = 'Low spender'
df_ords_prods_merge.loc[df_ords_prods_merge['mean_spent'] >= 10, 'spender_flag'] = 'High spender'

In [23]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,prices,merge_indicator,price-range-loc,Busiest day,Busiest days,busiest_period_of_day.,max_order,loyalty_flag,mean_spent,spender_flag
0,2539329.0,1.0,1,2,8,NaN,True,196.0,1,0,...,9.0,both,Mid-range product,Busiest days,Regularly busy,Average Orders,10,New customer,6.367797,Low spender
1,2539329.0,1.0,1,2,8,NaN,True,14084.0,2,0,...,12.5,both,Mid-range product,Busiest days,Regularly busy,Average Orders,10,New customer,6.367797,Low spender
2,2539329.0,1.0,1,2,8,NaN,True,12427.0,3,0,...,4.4,both,Low-range product,Busiest days,Regularly busy,Average Orders,10,New customer,6.367797,Low spender
3,2539329.0,1.0,1,2,8,NaN,True,26088.0,4,0,...,4.7,both,Low-range product,Busiest days,Regularly busy,Average Orders,10,New customer,6.367797,Low spender
4,2539329.0,1.0,1,2,8,NaN,True,26405.0,5,0,...,1.0,both,Low-range product,Busiest days,Regularly busy,Average Orders,10,New customer,6.367797,Low spender

In [24]:
df_ords_prods_merge.value_counts('spender_flag')

spender_flag
Low spender     32285165
High spender      119694
Name: count, dtype: int64

# In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
# If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
# If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
# If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [25]:
#Make a median-days column to work a flag off
df_ords_prods_merge['median_days_s_p_o'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,merge_indicator,price-range-loc,Busiest day,Busiest days,busiest_period_of_day.,max_order,loyalty_flag,mean_spent,spender_flag,median_days_s_p_o
0,2539329.0,1.0,1,2,8,NaN,True,196.0,1,0,...,both,Mid-range product,Busiest days,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5
1,2539329.0,1.0,1,2,8,NaN,True,14084.0,2,0,...,both,Mid-range product,Busiest days,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5
2,2539329.0,1.0,1,2,8,NaN,True,12427.0,3,0,...,both,Low-range product,Busiest days,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5
3,2539329.0,1.0,1,2,8,NaN,True,26088.0,4,0,...,both,Low-range product,Busiest days,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5
4,2539329.0,1.0,1,2,8,NaN,True,26405.0,5,0,...,both,Low-range product,Busiest days,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5

In [ ]:
# Median days since prior order = ''median_days_s_p_o'

In [26]:
df_ords_prods_merge.tail()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,merge_indicator,price-range-loc,Busiest day,Busiest days,busiest_period_of_day.,max_order,loyalty_flag,mean_spent,spender_flag,median_days_s_p_o
32404854,2977660.0,206209.0,13,1,12,7.0,False,14197.0,5,1,...,both,Mid-range product,Busiest days,Busiest days,Most Orders,13,Regular customer,7.058915,Low spender,22.0
32404855,2977660.0,206209.0,13,1,12,7.0,False,38730.0,6,0,...,both,Mid-range product,Busiest days,Busiest days,Most Orders,13,Regular customer,7.058915,Low spender,22.0
32404856,2977660.0,206209.0,13,1,12,7.0,False,31477.0,7,0,...,both,Low-range product,Busiest days,Busiest days,Most Orders,13,Regular customer,7.058915,Low spender,22.0
32404857,2977660.0,206209.0,13,1,12,7.0,False,6567.0,8,0,...,both,Low-range product,Busiest days,Busiest days,Most Orders,13,Regular customer,7.058915,Low spender,22.0
32404858,2977660.0,206209.0,13,1,12,7.0,False,22920.0,9,0,...,both,Low-range product,Busiest days,Busiest days,Most Orders,13,Regular customer,7.058915,Low spender,22.0

In [30]:
#Now need to assign flags to the regular buyers
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_s_p_o'] <= 10, 'buyer_flag'] = 'Frequent customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['median_days_s_p_o'] > 10) & (df_ords_prods_merge['median_days_s_p_o']<= 20), 'buyer_flag'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_s_p_o'] > 20, 'buyer_flag'] = 'Non-frequent customer'

In [31]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,price-range-loc,Busiest day,Busiest days,busiest_period_of_day.,max_order,loyalty_flag,mean_spent,spender_flag,median_days_s_p_o,buyer_flag
0,2539329.0,1.0,1,2,8,NaN,True,196.0,1,0,...,Mid-range product,Busiest days,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2539329.0,1.0,1,2,8,NaN,True,14084.0,2,0,...,Mid-range product,Busiest days,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,2539329.0,1.0,1,2,8,NaN,True,12427.0,3,0,...,Low-range product,Busiest days,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2539329.0,1.0,1,2,8,NaN,True,26088.0,4,0,...,Low-range product,Busiest days,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,2539329.0,1.0,1,2,8,NaN,True,26405.0,5,0,...,Low-range product,Busiest days,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [32]:
df_ords_prods_merge.tail()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,price-range-loc,Busiest day,Busiest days,busiest_period_of_day.,max_order,loyalty_flag,mean_spent,spender_flag,median_days_s_p_o,buyer_flag
32404854,2977660.0,206209.0,13,1,12,7.0,False,14197.0,5,1,...,Mid-range product,Busiest days,Busiest days,Most Orders,13,Regular customer,7.058915,Low spender,22.0,Non-frequent customer
32404855,2977660.0,206209.0,13,1,12,7.0,False,38730.0,6,0,...,Mid-range product,Busiest days,Busiest days,Most Orders,13,Regular customer,7.058915,Low spender,22.0,Non-frequent customer
32404856,2977660.0,206209.0,13,1,12,7.0,False,31477.0,7,0,...,Low-range product,Busiest days,Busiest days,Most Orders,13,Regular customer,7.058915,Low spender,22.0,Non-frequent customer
32404857,2977660.0,206209.0,13,1,12,7.0,False,6567.0,8,0,...,Low-range product,Busiest days,Busiest days,Most Orders,13,Regular customer,7.058915,Low spender,22.0,Non-frequent customer
32404858,2977660.0,206209.0,13,1,12,7.0,False,22920.0,9,0,...,Low-range product,Busiest days,Busiest days,Most Orders,13,Regular customer,7.058915,Low spender,22.0,Non-frequent customer

In [34]:
df_ords_prods_merge.value_counts('buyer_flag')

buyer_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
Name: count, dtype: int64

In [36]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_E4.8.pkl'))